* {
    font-family: 'Quicksand', sans-serif;
}
body {
height: 100vh;
background: #348F50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img {
    border-radius: 50%;
    width: 120px;
    height: 118px;
    margin-top: 20px;
}
.user_input:focus {
    border: 1px solid #1f1f1f;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.login-btn {
    display: block;
    margin: 0 auto;
    background-color: rgb(184, 117, 117);
    color: #1f1f1f;
    border: 1px solid black;
    transition: .5s;
}
.login-btn:hover {
    color: white;
    background-color: rgb(109, 109, 182);
   transform: scale(1.2);
}