<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom">
  
  <div class="container-fluid  navbar-custom">
      <a class="navbar-brand me-auto mb-3" href="{{ url_for('pokedex') }}"><img src="/static/images/pokeball.png" class="mx-auto nav-img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item navitem-custom">
            <a class="nav-link" href="{{ url_for('pokedex')}}">PokeDex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login')}}">Login Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('signup')}}">Signup Page</a>
          </li>
        </ul>        
      </div>
    </div>
  </nav>