{% extends "base.html" %}

{% block title %}PokeDex{% endblock %}
{% block styles %} 
   <link rel="stylesheet" href="../static/styles/login.css"> 
{% endblock %} 

{% block content %}
    {% include './includes/nav.html' %}

    <form method="POST" class="w-25 mx-auto shadow p-3 mb-5 mt-5 bg-body-tertiary rounded">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label class="form-label">Enter Your Pokemon Name Or Number </label>
            {{ form.pokemon_name(class="form-control", id="pokemon_name") }}
        </div>
        {{ form.submit_btn(class="btn btn-primary") }}
    </form>

    {% if pkmn %}
        <table class="table w-25 mx-auto shadow p-3 mb-5 mt-5 bg-body-tertiary rounded">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Base Experience</th>
                    <th scope="col">Sprite URL </th>
                    <th scope="col">Shiny Sprite URL</th>
                    <th scope="col">Base Stats</th>
                    <th scope="col">Type</th>
                    <th scope="col">ID</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr>
                        <td>{{ pkmn['name'] }}</td>
                        <th scope="row">{{ pkmn['baseExp'] }}</th>
                        <td>{{ pkmn['spriteURL'] }}</td>
                        <td>{{ pkmn['spriteShinyURL'] }}</td>
                        <td>{{ pkmn['baseStats'] }}</td>
                        <td>{{ pkmn['pokemonType'] }}</td>
                        <td>{{ pkmn['pokedexID'] }}</td>
                    </tr>
               
            </tbody>
        </table>
    {% endif %}
{% endblock %}