{% extends "base.html" %}

{% block title %}PokeDex{% endblock %}
{% block styles %} 
   <link rel="stylesheet" href="../static/styles/login.css"> 
{% endblock %} 

{% block content %}
    {% include './includes/nav.html' %}

    <form method="POST" class="w-25 mx-auto shadow p-3 mb-5 mt-5 bg-body-tertiary rounded">
        <div class="mb-3">
            {{ form.pokemon_name(class="form-control", id="pokemon_name") }}
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if pkmn %}
        <table class="table mx-auto">
            <thead>
                <tr>
                    <th scope="col">Base Experience</th>
                    <th scope="col">Sprite URL </th>
                    <th scope="col">Shiny Sprite URL</th>
                    <th scope="col">Base Stats</th>
                    <th scope="col">Type</th>
                    <th scope="col">ID</th>
                </tr>
            </thead>
            <tbody>
                {% for poke in pkmn %}
                    <tr>
                        <th scope="row">{{ poke['baseExp'] }}</th>
                        <td>{{ poke['spriteURL'] }}</td>
                        <td>{{ poke['spriteShinyURL'] }}</td>
                        <td>{{ poke['baseStats'] }}</td>
                        <td>{{ poke['pokemonType'] }}</td>
                        <td>{{ poke['pokedexID'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}