{% extends "base.html" %}

{% block title %}Battle{% endblock %}
{% block styles %} 
   <link rel="stylesheet" href="../static/styles/login.css"> 
{% endblock %} 

{% block content %}
    {% include './includes/nav.html' %}
    {% if opponent %}
    <div class="users-container">
        <ul>
            {% for user in users %}
                <li>
                    <form method="POST" action="{{ url_for('attack', user_id=user.id) }}">
                        <button type="submit">Attack</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="team-wrapper">
        <div class="team-container">
            <div>
                <h2>Your Team</h2>
                <ul>
                    {% for pokemon in current_user.pokemons %}
                    <div class="pokemon-card">
                        <img class="pokemon-img" src="{{ pokemon.spriteURL }}" alt="{{ pokemon.name }}">
                        <div class="pokemon-info">
                            <h2>{{ pokemon.name }}</h2>
                            <p>Base Experience: {{ pokemon.baseExp }}</p>
                            <p>HP: {{ pokemon.hp }}</p>
                            <p>Attack: {{ pokemon.attack }}</p>
                            <p>Defense: {{ pokemon.defense }}</p>
                            <p>Special Attack: {{ pokemon.specialAttack }}</p>
                            <p>Special Defense: {{ pokemon.specialDefense }}</p>
                            <p>Speed: {{ pokemon.speed }}</p>
                            <p>Type: {{ pokemon.pokemonType }}</p>
                            <p>Pokedex ID: {{ pokemon.pokedexID }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h2>Opponent's Team</h2>
                <ul>
                    {% for pokemon in opponent.pokemons %}
                    <div class="pokemon-card">
                        <img class="pokemon-img" src="{{ pokemon.spriteURL }}" alt="{{ pokemon.name }}">
                        <div class="pokemon-info">
                            <h2>{{ pokemon.name }}</h2>
                            <p>Base Experience: {{ pokemon.baseExp }}</p>
                            <p>HP: {{ pokemon.hp }}</p>
                            <p>Attack: {{ pokemon.attack }}</p>
                            <p>Defense: {{ pokemon.defense }}</p>
                            <p>Special Attack: {{ pokemon.specialAttack }}</p>
                            <p>Special Defense: {{ pokemon.specialDefense }}</p>
                            <p>Speed: {{ pokemon.speed }}</p>
                            <p>Type: {{ pokemon.pokemonType }}</p>
                            <p>Pokedex ID: {{ pokemon.pokedexID }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}